version: v1alpha1
metadata:
  name: usb-modeswitch
  version: "{{ .VERSION }}"
  author: Kurt
  description: |
    [{{ .TIER }}] usb-modeswitch switches USB dual-mode devices (fake CD-ROM) into their working mode, e.g. Realtek WiFi dongles.
  compatibility:
    talos:
      version: ">= v1.10.0"
